
html{
    font-size: 2vw;
}

.counters{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.counter_1{
    width: 12vw;
    height: 12vw;
    background: #facb03;

}

.counter_2{
    width: 12vw;
    height: 12vw;
    background: #62a79e;
}

.game_field {
    margin-top: 10vh;
    width: 70vh;
    height: 70vh;

    background: black;
    border: 3px solid #facb03;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;

    justify-content: space-evenly;
    column-gap: 1px;
    row-gap: 1px;
}

.container{
    display: flex;
    justify-content: center;
}

.elements{
    display: flex;
    flex-direction: column;
}

.ship_division{
    display: flex;
    flex-direction: column;
    width: 70vh;

}

.ship_condition{
    display: flex;
    flex-direction: row;

}

.score_style{
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: 'Secular One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
}

.counter_line{
    display: flex;
    margin-left: 10%;
    width: 80%;
    height: 2px;
    background: black;
    align-items: center;
}

.player_name{
    margin-top: 10%;
    margin-bottom: 15%;
    font-family: 'Secular One', sans-serif;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    text-transform: lowercase;
}

.img1{
    padding-top: 3%;
    display: block;
    width: 30%;

}

.indicator {
    padding-top: 5%;
    padding-right: 0.5%;
    width: 5%;
    height: 5%;
    justify-content: flex-start;
}

.section{
    width: 9%;
    height: 9%;
    background-color: whitesmoke;
    border: 2px;


}

.section_pic{
    width: 100%;
    height: 100%;
}

